<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body> -->
  <%layout('layouts/boilerplate')%>
    <h1>Edit Product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="post">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="product[title]" value="<%=product.title%>">
      </div>
      <div>
        <label for="condition">Condition</label>
        <input type="number" id="condition" name="product[condition]"value="<%=product.condition%>">
      </div>
      <button>Edit Product</button>
    </form>
    <a href="/products/<%=product._id%>">Back to Product</a>
<!-- </body>
</html> -->