<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate Products</title>
</head>
<body> -->
  <%layout('layouts/boilerplate.ejs')%>
  <h1>Hey,Thanks!!</h1>
    <form action="/products" method="post">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="product[title]">
      </div>
      <div>
        <label for="condition">Condition</label>
        <input type="number" id="condition" name="product[condition]">
      </div>
      <button>Donate</button>
    </form>
    <a href="/products">All Donations</a>
<!-- </body>
</html> -->